.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .tableContainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;

    .control {
      display: flex;
    }
  }
}
