$primaryColor: #34558b;
$secondaryColor: white;
$errorColor: #cc0000;
$stopColor: #ea0000;

$black: #3C3C3C;
$grey:  #e6e6e6;

$color-1: #2c3e50;
$color-2: #de001a;
$color-3: #2ecc71;
$color-4: #e74c3c;

$base-duration: 500ms;
$errorColor: #cc0000;

$light-background: lighten(desaturate($primaryColor, 0.5%), 12.5%);

$avatar-grey: #C4C4C4;
