.container {
  margin-right: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tableContainer {
    display: flex;
    width: 75vw;
    margin: 0 auto;
    position: relative;
  }
}


.filter {
  position: fixed;
  top: 10em;
  right: 1em;

  .textField {
    margin: 1em 0;
  }
}

