.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15vw;

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filter {
  position: fixed;
  right: 1em;
  top: 10em;
}

