@import '../../styles/colors.scss';

@mixin active_color($color) {
  color: $color !important;
  border-bottom: 3px solid $color;
  padding-right: 1em;
}

header.header {
  width: 100%;

  padding: 15px 0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  z-index: 1100;


  .menuSetings {
    display: flex;
    align-items: center;

    div {
      margin: 0;
    }

    .navBurger {
      display: none;
      width: 2.5em;
      height: 2.5em;
      padding: 10px 0;

      background-color: $primaryColor;
      border-radius: 5px;
    }
  }

  .nav {
    min-width: 800px;

    display: flex;
    justify-content: space-between;

    font-family: 'KyivSans';
    font-weight: 300;
    font-size: 1em;

    

    .active_w {
      @include active_color(#fff);
    }
    span,
    span:visited {
      text-decoration: none;
      color: $black;

      cursor: pointer;
      font-family: 'KyivSans';
      text-transform: uppercase;
    }

    .active {
      @include active_color($primaryColor);
      font-weight: bold;
    }
  }
}

@media (max-width: 800px) {
  header.header {
    justify-content: space-around;
    border-bottom: 5px solid $primaryColor;

    .menuSettings {
      .navBurger {
        margin-left: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        span {
          width: 25px;
          height: 2px;
          display: block;
          background-color: #fff;
        }
      }
    }

    .nav {
      position: absolute;
      min-width: 100%;
      top: 85px;
      background-color: #e5e5e5;
      flex-wrap: wrap;
      text-align: center;

      a {
        width: 50%;
        padding: 1.5em 0;
        border-top: 3px solid $primaryColor;
      }
      .active {
        padding-right: 0;
        border-bottom: 0;
      }
    }

    .showNav {
      visibility: visible;
    }

    .hiddenNav {
      visibility: hidden;
    }
  }
}

@media (max-width: 1024px) and (min-width: 800px) {
  header.header .nav {
    min-width: 600px;
  }

  header.header div {
    margin: 0 !important;
  }
}

.active {
  @include active_color($primaryColor);
  font-weight: bold;
}